@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Satisfy&display=swap');


:root {
    --main-pink: #ff97b7;
    --main-blue: #73d2de;
    --main-violet: #792359;
    --main-rose_gold: #ffa88b;
    --main-soft_rose: #ffc7b4;
}

.fadeIn {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Transición de 1 segundo */
  }

.fadeIn.active {
    opacity: 1;
}


  

main{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

a{
    text-decoration: none;
}

.form-logo-stetia{
    width: 180px;
}  


input{
    max-height: 40px;
}


.card-text{
    min-height: 180px;
}

.icon{
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

.titulo_h1{
    line-height: 80px;
}

.icono{
    font-size: 2.1em;
}

.purecounter-master{
    font-size: 2em;
}

.card-status{
    background-color: var(--main-soft_rose);
    border: 3px solid;
    border-color: var(--main-violet);
    
}

.text-card-status{
    min-height: 90px;
}


@media (min-width: 600px) and (max-width: 999px) {
    #form_logo_stetia{
        width: 220px;
        height: 220px;
        
    }
}  






