<h5 class="display-5 my-4 text-center">ELIMINAR VARICES Y ARAÑAS VASCULARES</h5>
<h5 class="fs-3 my-4 text-center">¿Qué son las varices y las arañas vasculares?</h5>
<p>Las varices son venas enfermas producidas por un cúmulo anormal de sangre a causa de que la pared de la vena está debilitada, a menudo suele ocurrir por herencia genética.</p>
<p>Esto hace que las venas se pudean estirar y expandir produciendo desde importantes cambios estéticos en la piel, dolor y molestias, hasta producir peores complicaciones, como inflamación y úlceras.</p>
<p>Este proceso sucede normalmente en las venas de las piernas y suelen ser las mujeres las más propensas a desarrollar varices y arañas vasculares.</p>

<h5 class="fs-3 my-4 text-center">¿En qué consiste el tratamiento de varices y arañas vasculares?</h5>
<p>El tratamiento de las varices y arañas vasculares se lleva a cabo siempre de forma personalizada por cada paciente, dependiendo de la gravedad y del estado general de salud del individuo.</p>
<p>En STETIA atendemos siempre a nuestros pacientes de la forma más personalizada posible, intentando diferenciarnos con un trato cercano y humano.</p>

<h5 class="fs-3 my-4 text-center">Pinchar las varices: Tratamiento Esclerosante.</h5>
<p><strong>La eliminación de varices y arañas vasculares sin cirugía</strong> consiste en la inyección directa de una sustancia esclerosante, el etoxiesclerol, a fin de deshacernos de la vena afectada. El número de sesiones necesarias dependerá de la cantidad, tamaño y grosor de las venas a tratar, que suele variar dependiendo de cada paciente. A pesar de que la gran mayoría de pacientes noten cierta mejoría después de las primeras sesiones, gran parte de las venas necesitan ser inyectadas varias veces para obtener resultados definitivos</p>
<p>No es necesario el uso de anestesia local, debido a que las infiltraciones se realizan con agujas muy fina. No es necesario interrumpir los hábitos de vida del paciente.</p>
<p>En STETIA contamos con grandes especialistas en el tratamiento de varices y arañas vasculares.</p>
<p>El tratamiento de varices con microespuma, también denominado Esclerosis de varices y arañas vasculares o Escleroterapia con microespuma, es de gran utilidad en el tratamiento de las varices recidibadas, es decir, varices que una vez tratadas aparecen de nuevo.</p>
<p>Además de la eliminación de casi cualquier tipo de varices sin cirugía de forma cómoda y sencilla, permite curar úlceras varicosas y las antiestéticas arañas vasculares.</p>


<h5 class="fs-3 my-4 text-center">Cirugía de varices: Tratamiento Quirúrgico.</h5>
<p>La Cirugía de varices consiste en la eliminación de forma radical de la red venosa superficial enferma, mediante la extracción de las venas enfermas.</p>
<p>Las varices son eliminadas porque suelen doler, son grandes, y afectan la apariencia de las piernas. La cirugía puede durar de una hora a dos horas dependiendo de la gravedad de la extremidad, se realiza de manera ambulatoria habitualmente, con lo cual el paciente no tiene que pasar días hospitalizado</p>
<p>Tras la intervención el paciente deberá tener un tiempo de reposo hasta que los efectos de la anestesia hayan pasado, en determinadas ocasiones es necesario tomar calmantes, se deberán también usar medias de compresión con el fin de mantener una circulación normal y la recuperación, por lo general, suele tardar unas 2 - 3 semanas, los resultados pueden variar, como es lógico, de un paciente a otro.</p>
<p>Existen dos técnicas principalmente:</p>
<p>La Cirugía convencional: Es la operación quirúrgica tradicional y supone la erradicación total de la red venosa superficial del paciente.</p>
<p>El tratamiento quirúrgico CHIVA: Es una cirugía mínimamente invasiva, en la que se intenta preservar las venas superficiales principales de la pierna, por lo que es menos agresiva y vamos a reducir el período de recuperación del paciente considerablemente.</p>
<p>En STETIA se le realizará un asesoramiento completo y personalizado, previo al tratamiento, sobre todas las posibilidades y se le recomendará el que mejor se adapte a sus necesidades.</p>