<div id="cta">
    <div id="logo-benef">
      <img id="logo_stetia_CTA" src="img/logo_stetia.png" > 
      <div id="text-cta">
        <h4 class="display-4 fs2-cta">Regístrate y consigue beneficios por ser socio</h4> 
        <h4 class="fs-1 fs1-cta">STETIA</h4>  
      </div>
    </div>
    <div id="botones-cta">
        <button type="button" class="btn btn-secondary btn-lg btn-cta">Hazte Socio STETIA</button>  
        <button class="btn btn-primary btn-cta btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">Log In</button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
            <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">Offcanvas with backdrop</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
            <p>.....</p>
            </div>
        </div>
    </div> 
</div>
