<h5 class="display-5 my-4 text-center">ELIMINACIÓN DE VERRUGAS Y LUNARES</h5>
<h5 class="fs-3 my-4 text-center">5 preguntas frecuentes</h5>
<ol>
    <li>
        <strong>¿Cómo saber si se pueden quitar?</strong> En Stetia hacemos valoración médica previa gratuita.
    </li>
    <li>
        <strong>¿Cuándo se ven los resultados del tratamiento?</strong> De forma inmediata.
    </li>
    <li>
        <strong>¿Duele mucho?</strong> No, ponemos lidocaina inyectada.
    </li>
    <li>
        <strong>¿Tiene efectos secundarios?</strong> No, va a quedar una costra que se caerá a los días.
    </li>
    <li>
        <strong>¿Se quitan para siempre?</strong> Si, y si te vuelven a salir te las quitamos gratis, salvo el molusco virus.
    </li>
</ol>

<h5 class="fs-3 my-4 text-center">¿Qué son las verrugas?</h5>
<p>Las verrugas son pequeños crecimientos irregulares que ocurren en la piel, por lo general indoloros, causados por un virus, llamado éste virus del papiloma humano. La mayoría, aunque no en todas las ocasiones, son generalmente inofensivas. Las verrugas pueden ser de diferentes tamaños y a veces nos producen complejo, dependiendo de si están éstas a la vista o no. Algunas de ellas pueden picar o doler, particularmente en los pies, genitales e ingles.</p>
<p>Las verrugas se pueden diseminar de una parte del cuerpo a otra y se pueden propagar de una persona a otra, pero esto es poco frecuente.</p>


<h5 class="fs-3 my-4 text-center">¿Cómo tratar las verrugas y lunares?</h5>
<p>Las lesiones verrugosas benignas, así como los lunares, en cualquier región del cuerpo se suelen tratar habitualmente mediante exéresis, la extirpación de la verruga, con previa aplicación de anestesia local, siempre que sea necesario.</p>
<p>También se pueden tratar con otros métodos como son la crioterapia (frío aplicado en la verruga) o cauterización(quemando la verruga) mediante la aplicación de un láser de plasma PLEXR, el método a utilizar estará en función del tipo de lesión.</p>
<p>Para saber más sobre la eliminación mediante láser de plasma PLEXR, que se suele utilizar para las verrugas y lunares del rostro, visite este enlace: <a href="blefaroplastia.php">láser de plasma PLEXR</a></p>
<p>También podemos eliminar manchas en la piel, xantelasmas o siringomas.</p>
<p>En cualquiera de las variantes del tratamiento de verrugas la recuperación de la zona se produce al cabo de entre dos y tres semanas, y es una intervención muy segura.</p>

<h5 class="fs-3 my-4 text-center">¿Qué se recomienda y no para tratar verrugas o lunares?</h5>
<p>En STETIA se le realizará un asesoramiento personalizado, previo al tratamiento, y se le recomendará el tratamiento que mejor se adapte a sus necesidades.</p>
<p>Para empezar <strong>nunca tratar de extirpar una verruga uno mismo</strong> arrancándola, rompiéndola, cortándola, quemándola, ni con ningún otro método casero, <strong>normalmente lo empeorará.</strong></p>
<p>Además, es importante que en ningún caso se use medicamentos para verrugas en los genitales, ni en la cara. Las verrugas en particular en estas zonas requieren de tratamiento médico.</p>