<h5 class="display-5 my-4 text-center">MESOTERAPIA Y BELKYRA</h5>
<p>Según un estudio a más del 60% de las mujeres les preocupa la papada. Existen dos tratamientos con diferentes precios y resultados:</p>
<ul>
    <li>Mesoterapia</li>
    <li>Belkyra</li>
</ul>

<h5 class="fs-3 my-4 text-center">¿Que es la mesoterapia?</h5>
<p>La mesoterapia es un tratamiento médico estético que consiste en la aplicación de pequeñas cantidades de sustancias farmacológicas directamente en la capa media de la piel, conocida como la dermis. Este procedimiento se realiza mediante la utilización de microinyecciones superficiales con agujas muy finas.</p>
<p>Precio mesoterapia tratamiento papada: <span class="text-danger">49€</span> por vial</p>

<h5 class="fs-3 my-4 text-center">¿Que es el tratamiento Belkyra?</h5>
<p>Este tratamiento es específicamente diseñado para eliminar la acumulación de grasa debajo del mentón, ayudando a mejorar la definición del contorno mandibular y proporcionar un perfil facial más esculpido.</p>
<p>En el caso de Belkyra, el medicamento se inyecta directamente en la grasa subcutánea debajo del mentón. Actúa destruyendo las células grasas, lo que con el tiempo resulta en una reducción visible de la grasa en esa área.</p>
<p>Belkyra es un tratamiento más agresivo y directo, se hace en una sola sesión, o dos, según recomendación del doctor y tiene un coste algo más elevado, pero con mejores resultados.</p>
<p>Precio Belkyra tratamiento papada: <span class="text-danger">355€</span> medio vial</p>
