<footer>
    <div class="row d-flex justify-content-center align-items-center p-2">
        <div id="corp" class="col-6 col-md-2 my-2 row">
            <div class="col-12 row">
                <img class="logo_footer mx-3 ms-3 col-12" src="img/logo_stetia.png">
                <p class="d-flex justify-content-center text-white col-12">STETIA</p>  
            </div>
        </div>
        <div id="contact-murcia" class="col-12 col-sm-3 col-xl-2 my-2">
            <div class="row">
                <i class="fa-solid fa-map-location-dot col-12 d-flex justify-content-center"></i>
                <p class="col-12 d-flex justify-content-center text-center m-1 text-white">Murcia</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center text-white">Clínica Gran Vía 15</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center text-white">Gran Vía del Escultor Francisco Salzillo, 15</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center text-white">30004 Murcia</p>
            </div>
        </div>
        <div id="contact-alicante" class="col-12 col-sm-3 col-xl-2 my-2">
            <div class="row">
                <i class="fa-solid fa-map-location-dot col-12 d-flex justify-content-center"></i>
                <p class="col-12 d-flex justify-content-center text-center m-1 text-white">Alicante</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center text-white">Clínica Salud3</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center text-white">Avda. Maisonave, 41</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center text-white">03003 Alicante</p>
            </div>
        </div>
        <div id="contact-elche" class="col-12 col-sm-3 col-xl-2 my-2">
            <div class="row">
                <i class="fa-solid fa-map-location-dot col-12 d-flex justify-content-center"></i>
                <p class="col-12 d-flex justify-content-center text-center m-1 text-white">Elche</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center text-white">Clínica Saluvite</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center text-white">Cristobal Sanz, 59</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center text-white">03201 Elche (Alicante)</p>
            </div>
        </div>
        <div id="contact-orihuela" class="col-12 col-sm-3 col-xl-2 my-2">
            <div class="row">
                <i class="fa-solid fa-map-location-dot col-12 d-flex justify-content-center"></i>
                <p class="col-12 d-flex justify-content-center text-center m-1 text-white">Orihuela</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center text-white">One Sport Center</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center text-white">C/Oriolanos Ausentes, s/n</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center text-white">03300 Orihuela (Alicante)</p>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <p class="text-center text-white">Enlaces a redes sociales</p>
        <a href="https://www.facebook.com/stetiatratamientos" class="d-flex justify-content-center"><i class="fa-brands fa-square-facebook col-12 d-flex justify-content-center "></i></a>
       
    </div>
   

</footer>