<footer style="color: white;">
    <div class="row d-flex justify-content-center align-items-center">
        <div id="corp" class="col-2 my-2 row">
            <div class="col-12">
                <img class="logo_footer m-3" src="img/logo_stetia.png">
                <p class="d-flex justify-content-center">STETIA</p>  
            </div>
        </div>
        <div id="contact-murcia" class="col-3 my-2">
            <div class="row">
                <a href="https://maps.app.goo.gl/eJPuKR11iamB89cAA"><i class="fa-solid fa-map-location-dot col-12 d-flex justify-content-center"></i></a>
                <p class="col-12 d-flex justify-content-center text-center m-1">Murcia</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center">Clínica Gran Vía 15</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center">Gran Vía del Escultor Francisco Salzillo, 15</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center">30004 Murcia</p>
            </div>
        </div>
        <div id="contact-alicante" class="col-2 my-2">
            <div class="row">
                <a href="https://maps.app.goo.gl/8K2m6K3xJRYx2Cme9"><i class="fa-solid fa-map-location-dot col-12 d-flex justify-content-center"></i></a>
                <p class="col-12 d-flex justify-content-center text-center m-1">Alicante</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center">Clínica Salud3</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center">Avda. Maisonave, 41</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center">03003 Alicante</p>
            </div>
        </div>
        <div id="contact-elche" class="col-2 my-2">
            <div class="row">
                <a href="https://maps.app.goo.gl/Vi7Hw1dna5uPD6hn6"><i class="fa-solid fa-map-location-dot col-12 d-flex justify-content-center"></i></a>
                <p class="col-12 d-flex justify-content-center text-center m-1">Elche</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center">Clínica Saluvite</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center">Cristobal Sanz, 59</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center">03201 Elche (Alicante)</p>
            </div>
        </div>
        <div id="contact-orihuela" class="col-2 my-2">
            <div class="row">
                <a href="https://maps.app.goo.gl/Dhmcjp7WMbu2BGTC9"><i class="fa-solid fa-map-location-dot col-12 d-flex justify-content-center"></i></a>
                <p class="col-12 d-flex justify-content-center text-center m-1">Orihuela</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center">One Sport Center</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center">C/Oriolanos Ausentes, s/n</p>
                <p class="text-place col-12 d-flex justify-content-center m-0 text-center">03300 Orihuela (Alicante)</p>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <p class="text-center">Enlaces a redes sociales</p>
        <a href="https://www.facebook.com/stetiatratamientos" class="d-flex justify-content-center"><i class="fa-brands fa-square-facebook col-12 d-flex justify-content-center "></i></a>
       
    </div>
   

</footer>