<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.php"><img src="img/logo_stetia.png" style="height: 90px; width: 90px;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home.php">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Facial
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="tratamientos_corporal_elche_alicante.php">Tratamientos Faciales</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="quitar_arrugas.php">Eliminacion de arrugas</a></li>
                  <li><a class="dropdown-item" href="#">Hilos tensores - Efecto lifting</a></li>
                  <li><a class="dropdown-item" href="#">Plasma rico en plaquetas</a></li>
                  <li><a class="dropdown-item" href="#">Eliminacion verrugas y lunares</a></li>
                  <li><a class="dropdown-item" href="#">Eliminacion arrugas en párpados - Blefaroplástia sin cirugía</a></li>
                  <li><a class="dropdown-item" href="#">Cirugía del lóbulo - Lobuloplastia</a></li>
                  <li><a class="dropdown-item" href="#">Peeling químico</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Corporal
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Eliminación de grasa - Mesoterapia</a></li>
                  <li><a class="dropdown-item" href="#">Varices y arañas vasculares </a></li>
                  <li><a class="dropdown-item" href="#">Eliminacion de arrugas y lunares</a></li>
                  <li><a class="dropdown-item" href="#">Aumento de glúteos</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ácido Hialurónico
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Aumento de labios</a></li>
                  <li><a class="dropdown-item" href="#">Surco nasogeniano</a></li>
                  <li><a class="dropdown-item" href="#">Relleno de ojeras</a></li>
                  <li><a class="dropdown-item" href="#">Código de barras</a></li>
                  <li><a class="dropdown-item" href="#">Aumento de pómulos</a></li>
                  <li><a class="dropdown-item" href="#">Rinomodelación</a></li>
                  <li><a class="dropdown-item" href="#">Peeling químico</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Hialuronidasa</a></li>

                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <a href="login.php"><button type="button" style="color: #792359; border: 2px solid #792359;" class="btn btn-outline">Log In</button></a> 
            </form>
          </div>
        </div>
      </nav>
</header>