<h5 class="display-5 my-4 text-center">LOBULOPLASTIA: Cirugía del lóbulo</h5>
<h5 class="fs-3 my-4 text-center">¿Qué es la lobuloplastia o cirugía del lóbulo?</h5>
<p>Este es <strong>Microcirugía que consiste en abrir la zona rasgada del lobulo de la oreja con el fin volverla a coser a través de varios puntos (normalmente entre tres y cinco) de sutura.</p>
<p>Al finalizar la zona intervenida de la oreja se tapa con el fin de evitar posibles infecciones, aunque son muy poco frecuentes en este tipo de cirugía.</p>

<h5 class="fs-3 my-4 text-center">¿Cómo se opera el lóbulo de la oreja o lobuloplastia?</h5>
<p>La cirugía del lóbulo de la oreja o lobuloplastia se realizan con anestesia local y de forma ambulatoria, es decir, no requiere la hospitalización del paciente.</p>
<p>Habitualmente se disminuye el tamaño del lóbulo mediante excisiones en cuña, con cicatrices que suelen ser muy discretas, apenas se aprecian, en la gran mayoría de los casos.</p>
<p>Esta intervención tiene una recuperación muy rápida, en un máximo de 7 días el paciente podrá reactivar su vida totalmente normal. No es necesario el uso de anestesia general, y en poco más de media hora por cada oreja, se lleva a cabo el procedimiento.</p>

<h5 class="fs-3 my-4 text-center">¿Cómo rejuvenecer el lóbulo de la oreja?</h5>
<p>Existen dos técnicas:</p>
<ul>
    <li>
        Lobuloplastia o cirugía del lóbulo: Pequeña intervención para reconstruir el lóbulo de la oreja, cuando está rasgado o para cerrar dilataciones, tal y como detallamos arriba.
    </li>
    <li>
        Cuando está deshidratado: Sin cirugía, mediante la infiltración de rellenos de ácido hialurónico o hidroxiapatita cálcica.  
    </li>
</ul>