<h5 class="display-5 my-4 text-center">PEELING QUÍMICO, Facial de Fenol</h5>
<h5 class="fs-3 my-4 text-center">¿En qué consiste el peeling químico?</h5>
<p>El peeling químico es una técnica médica de exfoliación de la piel o renovación de la piel superficial, que se ha de llevar a cabo por un médico-estético. Con esta técnica vamos a eliminar las manchas, algunas marcas e incluso pueden mejorar pequeñas arrugas de la piel, con lo que conseguiremos una piel más suave, hidratada y luminosa.</p>
<p>Este se lleva a cabo con el fin de renovar totalmente la piel de la cara, este proceso va a llevar en torno a unas 3 semanas, durante las cuales es importante que NO nos de el sol de forma directa.</p>

<h5 class="fs-3 my-4 text-center">¿Cuántas veces puedo hacer el peeling facial?</h5>
<p>El peeling facial se suele hacer de 1 a 2 veces al año, siempre siguiendo las recomendaciones del especialista en medicina estética, y debemos dejar entre cada tratamiento en torno a 2 o 3 meses.</p>

<h5 class="fs-3 my-4 text-center">¿En qué épocas del año es más recomendable hacerme un peeling químico?</h5>
<p>La época más recomendable es en invierno, dado que no nos será tan difícil proteger nuestro rostro del sol. Habitualmente no se realiza el tratamiento en verano, para evitar que una pequeña exposición solar posterior al tratamiento pueda ocasionarnos quemaduras profundas.</p>
<p><strong><span class="text-danger">Muy Importante:</span></strong> No se debe tomar el sol en la zona a tratar <strong>ni 10 días antes del peeling ni tampoco 15 días después de haberlo realizado.</strong></p>

<h5 class="fs-3 my-4 text-center">¿Cómo se realiza un peeling químico?</h5>
<p>En Stetia solemos hacer el peeling de Fenol, uno de los más seguros y efectivos que existen.</p>
<p>Normalmente se aplican entre 2 y 4 capas, dependiendo del estado y tipo de piel. Hay que esperar unos 5-10 minutos entre cada capa de aplicación y una vez terminado el tratamiento se aplica un sellador en la piel.</p>

<h5 class="fs-3 my-4 text-center">Peeling químico de fenol: Resultados.</h5>
<p>Dependiendo del tipo de peeling recomendado por el doctor vamos a tener como resultado:</p>
<ol>
    <li>
        Mejorar el estado general de la piel.
    </li>
    <li>
        Eliminar o mejorar algunas manchas.
    </li>
    <li>
        Mejorar incluso pequeñas arrugas de la zona.
    </li>
    <li>
        Mejorar considerablemente la luminosidad e hidratación.
    </li>
</ol>
<p>Los resultados del peeling químico podrían no ser permanentes, dado que a medida que vamos envejeciendo, seguimos generando arrugas al sonreir y entrecerrar los ojos, por ejemplo. También hay que tener en cuenta que el daño solar puede revertir los resultados y provocar cambios en el color de la piel.</p>