<div id="spinner" style="display: none; height: 100vh; justify-content: center; align-items: center;">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando</span>
    </div>
</div>

<div id="connection_err" class="text-center row col-12 justify-content-center flex-row align-items-center">
    <div class="col-1 justify-content-end">
        <i class="fa-solid fa-triangle-exclamation fa-beat-fade mx-2" style="color: #AD830E;"></i>
    </div>
    <div class="col-11 justify-content-start"> 
        <h3 class="text-danger fs-2 my-2 text-center">Error de conexión</h3>
    </div>
</div>


<div id="oculto" class="my-3">
    <div class="d-flex justify-content-center">
        <img src="img/icons/chatbot.png" class="icon">
        <h1 class="text-center titulo_h1">Status</h1>
    </div>
    <h3 class="text-center">Status Chatbot</h3>

    <div class="row d-flex justify-content-center flex-row my-3">
        <div class="card col-12 col-lg-3 mx-3 d-flex card-status my-2 justify-content-center">
            <div class="col-12 ms-1 mt-3 p-0 count-box">
                <i class="bi bi-floppy icono col-4" style="color: #831959;"></i>
                <p class="text-center text-card-status"><strong>Historial conversaciones</strong></p>
                <p class="fs-2 text-center" id="conversaciones"></p>
                <p class="fs-4 text-center" >Conversaciones</p>
            </div>
            <div class="col-12 d-flex justify-content-center flex-column my-3">
                <button class="w-70 btn btn-md btn-cta mx-1" id="download_history"><i class="bi bi-cloud-download mx-2"></i>Descargar historial</button>
                <button class="w-70 btn btn-md btn-cta m-0" id="delete_json"><i class="bi bi-trash3 mx-2"></i>Borrar historial conversaciones</button>
            </div>
        </div>

        <div class="card col-12 col-lg-3 mx-3 d-flex card-status my-2 justify-content-evenly">
            <div class="ms-1 mt-3 p-0 count-box">
                <i class="bi bi-translate icono me-2 col-12" style="color: #831959; font-size: 2rem;"></i>
                <p class="text-center text-card-status m-0"><strong>Prompt Chatbot</strong></p>
                <p class="text-center">Cambia la manera en que se comporta el Chatbot</p>      
            </div>
            <button class="w-70 btn btn-md btn-cta mx-1 mb-2" id="btn-prompt"><i class="bi bi-chat-right-text mx-2"></i>Modificar prompt</button>
        </div>

        <div class="card col-12 col-lg-3 mx-3 d-flex card-status my-2 justify-content-evenly">
            <div class="ms-1 mt-3 p-0 count-box">
                <i class="fa-solid fa-brain icono me-2 col-12" style="color: #831959; font-size: 2rem;"></i>
                <p class="text-center text-card-status m-0"><strong>Conocimiento del Chatbot</strong></p>
                <p class="fs-2 text-center" id="longitud_BBDD"></p>
                <p class="fs-4 text-center" >Textos ingeridos</p>
                <p class="text-center">Aportale todo el conocimiento necesario al Chatbot</p>                    
            </div>                                                    
            <form method="post" enctype="multipart/form-data"></form>    
            <button class="w-70 btn btn-md btn-cta mx-1 mb-2" id="btn_embedding"><i class="fa-solid fa-book -right-text mx-2"></i>Aportar nuevo conocimiento</button>
            <button class="w-70 btn btn-md btn-cta mx-1 mb-2" id="bnt_question_embedings"><i class="fa-solid fa-book-skull right-text mx-2"></i>Borrar conocimiento</button>
            <button class="w-70 btn btn-md btn-cta mx-1 mb-2" id="download_embeddings"><i class="fa-solid fa-book-open-reader right-text mx-2"></i>Descargar informacion</button>

        </div>
        
    </div>
</div>

<div id="visible">

    <h1 class="text-center">Control del Prompt</h1>
    <div class="mb-3">
        <label for="actual_prompt" class="form-label">Prompt Actual *</label>
        <textarea id="actual_prompt" class="form-control" rows="5"></textarea>
    </div>
    <form method="POST">
        <div class="mb-3">
            <label for="new_prompt" class="form-label">Prompt Nuevo</label>
            <textarea id="new_prompt" class="form-control" rows="5"></textarea>
            <button type="button" id="btn_new_prompt" class="my-2 w-70 btn btn-md btn-cta m-0">Enviar nuevo Prompt</button>
        </div>
    </form>
    <div>
        <p>* Parte a modificar</p>
    </div>
</div>


<div class="row col-12 justify-content-center my-3" id="answer_if_delete_knowledge">
    <div class="col-8 border d-flex flex-column">
      <p class="fs-3 text-center col-12 font-weight-bold">Realmente desea eliminar el conocimiento del ChatBot</p>
      <p class="fs-5 text-center col-12">Recuerda aportar nuevo conocimiento, ya que este proceso elimina por completo toda información relacionada con la estetica al chatbot</p>
      <p class="fs-6 text-center col-12">¿Todavia esta seguro de querer hacerlo?</p>
      <span class="d-flex col-12 justify-content-center">
        <button type="button" class="btn  col-3 align-middle mx-1 my-3 btn-danger" id="del_knowledge"><i class="fa-solid fa-skull-crossbones mx-3" style='color: #000000;'></i></i>Eliminar</button>
        <button type="button" class="btn  col-3 align-middle mx-1 my-3 btn-success" id="cancel_del_knowledge"><i class="fa-solid fa-heart-pulse mx-3" style='color: #ffffff;'></i></i>Cancelar</button>
      </span>                         
    </div>
</div>


<div class="row col-12 justify-content-center my-3" id="upload_knowledge_form">
    <div class="row col-8 border d-flex flex-column">
    <p class="fs-3 text-center col-12 font-weight-bold"><i class="fa-solid fa-graduation-cap mx-3"></i>Subir nuevo conocimiento</p>
    <form method="post" class="justify-content-center" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="fileInput" class="form-label">Selecciona un archivo de texto:</label>
          <input class="form-control" type="file" id="fileInput" name="fileInput">
        </div>
        <button type="submit" class="btn btn-primary">Subir archivo</button>
        <button type="button" class="btn  col-3 align-middle mx-1 my-3 btn-danger" id="cancel_new_knowledge">Cancelar</button>

      </form>
    </div>
</div>