<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="img/testimonial/maria_serna.png" class="testimonial-img" alt="">
              <h3>Maria Serna</h3>
              <h4>Servicios de maquillaje</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Alba Simón es una gran profesional. Sabe escuchar y por eso acierta con aquello que le encargues. Muy buenas manos. Totalmente recomendable!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="img/testimonial/ana_mendez.jpg" class="testimonial-img" alt="">
              <h3>Ana Mendez</h3>
              <h4>Servicios de estética</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Excelente relación calidad precio. Profesionalidad y muy buen servicio. No dudo que volveré!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="img/testimonial/silvia_garcia.jpg" class="testimonial-img" alt="">
              <h3>Silvia Garcia</h3>
              <h4>Servicios de estética</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Estoy encantada con los resultados que obtengo cada vez que os visito, muchas gracias por vuestra profesionalidad.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->