<div class="row d-flex justify-content-center">
    <div class="card col-3 mx-2" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Mesoterapia</h5>
      <p class="card-text"> Elimina la grasa localizada mediante inyección de silicio y extracto de alcachofa sobre los nódulos de grasa</p>
      <a href="" class="btn btn-primary">Información Mesoterapia</a>
    </div>
  </div>
  <div class="card col-3 mx-2" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Eliminar varices</h5>
      <p class="card-text">Elimina las varices en piernas y arañas vasculares con la inyeccion directa sobre las venas enfermas de etoxiesclerol.</p>
      <a href="arañas_vasculares.php" class="btn btn-primary">Información eliminar varices</a>
    </div>
  </div>
  <div class="card col-3 mx-2" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>