<h5 class="display-5 my-4 text-center">TRATAMIENTO PRP</h5>
<h5 class="fs-3 my-4 text-center">¿Qué es el tratamiento rico en plaquetas o PRP?</h5>
<p>El tratamiento rico en plaquetas, comúnmente conocido como PRP, es un tratamiento que se utiliza en medicina estética o reparadora para mejorar la apariencia de la piel, revitalizando, aumentando la luminosidad y firmeza, e incluso disimulando algunas arrugas y manchas.</p>
<p>La piel va a tener más tersura a las pocas horas del tratamiento. El tratamiento con PRP estimula las células de la piel teniendo un efecto rejuvenecedor.</p>
<p>El tratamiento enriquecido en plaquetas utilizado de forma preventiva, es decir, de forma temprana nos permite prevenir la aparición de arrugas y manchas de la forma más natural que existe.</p>

<h5 class="fs-3 my-4 text-center">¿Cómo se realiza el PRP?</h5>
<p>Inicialmente se realiza una extracción de sangre al propio paciente, se extrae del brazo una cantidad de unos 15ml, que es aproximadamente lo que se utiliza para una analítica rutinaria.
    Esta sangre se centrifuga mecánicamente durante unos 25 a 30 minutos, con el fin de poder acceder al plasma sanguíneo.</p>
<p>A este plasma se le activa con algo de vitaminas y calcio para posteriormente inyectarlo en la zona a tratar en forma de mesoterapia, es decir, con una serie de micropinchazos que se realizan por toda la zona.</p>
<p>En el caso de pacientes con pieles sensibles podemos aplicar crema anestésica, tipo EMLA, de 20 a 30 minutos antes de llevar a cabo el PRP.</p>

<h5 class="fs-3 my-4 text-center">¿Cuánto tiempo dura el tratamiento rico en plaquetas o PRP?</h5>
<p>El tratamiento se puede apreciar desde los primeros días y el efecto final se prolonga unos 25 a 30 días, manteniéndose estos resultados durante meses de forma estable.</p>
<p>Los resultados suelen durar alrededor de un año.
    Podemos realizar de 2 a 3 sesiones por zona de PRP, anualmente.</p>


<h5 class="fs-3 my-4 text-center">Zonas donde se aplica el tratamiento enriquecido en plaquetas o PRP:</h5>
<ul>
    <li>
       <p><strong>Facial:</strong> Es la zona más comúnmente tratada con PRP, especialmente por mujeres. Podríamos decir que es la zona más agradecida, dado que los resultados van a ser más vistosos.</p> 
    </li>
    <li>
        <p><strong>Cuello y Escote:</strong> Normalmente se realiza a la vez que el facial.</p>
    </li>
    <li>
        <p><strong>Capilar:</strong> Se aplica en el cuero cabelludo, muy útil para el refuerzo de implantes capilares (habitualmente solicitado por hombres), también es muy eficaz para detener la caída del cabello.</p>
    </li>
    <li>
        <p><strong>Manos:</strong> Preventivamente utilizado va a evitar el envejecimiento en manos y mejorará considerablemente la hidratación.
Y aplicado de forma reparadora mejora las manchas y la sequedad de la piel.</p>
    </li>
</ul>

<h5 class="fs-3 my-4 text-center">Efectos del tratamiento rico en plaquetas o PRP:</h5>
<p>Tratamiento efectivo para el rejuvenecimiento facial: Revitaliza y da luminosidad a la piel.<br>
    Estimula la elastina y el colágeno: Ayuda a disimular las manchas de la piel.<br>
    El tratamiento médico enriquecido en plaquetas es considerado uno de los mejores para obtener una piel más joven.</p>
<p>Efectos adversos: Al llevarse a cabo con la propia sangre del paciente no tiene, por lo general, importantes efectos secundarios.</p>
